/*colores*/

$color-rojo-airbnb: #FF7E82;
$color-gray-tittle: #565656;
$color-gray-light-text: #888888;
<<<<<<< HEAD
<<<<<<< HEAD
$color-turquesa: #00A699;
$color-border: #E9EBEB;
$color-gray-dark-title: #484848;
$color-gray-light-dos: #B0B0B0;

/*Fuentes*/
$font-roboto:'Roboto', sans-serif;
$color-grey-select:#dbdbdb;
$color-cyan-hover:#0097a7 ;
$bg-gray-darken:darken($color-gray-light-text,80%);
=======
$color-gra-light-border:#DCE0E0;
$color-turquesa: #00A699;
$color-white: #fff;
>>>>>>> origin/prueba-search
=======
$color-gra-light-border:#DCE0E0;
$color-turquesa: #00A699;
$color-white: #fff;
>>>>>>> origin/prueba-search
