/*colores*/

$color-rojo-airbnb: #FF7E82;
$color-gray-tittle: #565656;
$color-gray-light-text: #888888;
$color-turquesa: #00A699;
$color-border: #E9EBEB;
$color-gray-dark-title: #484848;

/*Fuentes*/
$font-roboto:'Roboto', sans-serif;