@import "variables";

.formulario {
  padding: 4vh 0vh; }

.form {
  border-radius: 1vh;
  border: #E9EBEB solid;
  padding: 2vh;
  margin-bottom: 0;
}

.formulario-modal {
  padding: 4vh 0vh; }

.modal-size {
	width: 100vw;
    height: 100vh;
	
}