@charset "UTF-8";
/*colores*/
/*Fuentes*/
* {
  box-sizing: border-box; }

body {
  font-family: "Roboto", sans-serif; }
  body .container {
    width: 77%; }

header nav {
  background-color: white;
  box-shadow: none;
  padding-bottom: 2em; }
  header nav .logo {
    padding: 2vh;
    width: 7.5vh;
    height: 7.5vh; }
header .nav-wrapper a {
  color: #484848;
  cursor: pointer;
  font-weight: 500; }
header .nav-wrapper .auth {
  margin: 1.2em;
  border-radius: 50%;
  width: 4vh;
  height: 4vh;
  color: 3px #484848 solid; }
header .title .header-title {
  color: #484848;
  font-weight: 900;
  padding-top: 1.1em; }
header .title h3 {
  color: #888888; }
header .title p {
  color: #717171;
  font-size: 1.2em; }
header .hero {
  background: url(https://a0.muscache.com/airbnb/static/engagement/p1/large/posters_sm.jpg);
  background-position: bottom center;
  background-size: 1596px auto;
  background-repeat: repeat-x;
  left: -60px;
  height: 98vh; }
header .header-text {
  margin-bottom: 1.5em; }
header .button-header {
  border-radius: 50px;
  border: #E9EBEB solid;
  width: 20em;
  padding: 0.5em 0.8em;
  color: #717171;
  font-weight: 500;
  cursor: pointer; }
header .modal {
  width: 30vw; }
header #login {
  float: none;
  background-color: #FF7E82;
  width: 80%;
  color: white; }
header .modal-content input {
  margin: 0 auto;
  margin-bottom: 0.5em;
  width: 97%;
  padding: 0.5em 0.3em;
  border: 1px #E9EBEB solid; }

/*Formulario*/
.btn {
  background-color: #ff5a5f; }

#form-search {
  margin: 2em 0; }
  #form-search .formulario {
    padding: 4vh 0vh; }
  #form-search .form {
    border-radius: 1vh;
    border: #E9EBEB solid;
    padding: 2vh;
    margin-bottom: 0; }

#nav-search {
  display: block; }
  #nav-search .formulario-modal {
    padding: 4vh 0vh; }

#nav-search a {
  width: 100%;
  background-color: #fff;
  border: none;
  outline: 0;
  margin: 2em 0; }

#nav-search span {
  float: left;
  color: #000000; }

#nav-search a i {
  float: right;
  font-size: 24px;
  color: #000000; }

#modalResponsive {
  width: 100%;
  height: 100%;
  border-radius: 0; }
  #modalResponsive .modal-size {
    width: 100vw;
    height: 100vh; }
  #modalResponsive .modal-content {
    position: absolute;
    top: -12%; }
  #modalResponsive .btn {
    width: 100%;
    border-color: #ff5a5f;
    background-color: #ff5a5f;
    margin-top: 1.5rem;
    text-align: center;
    font-size: 15px; }

#btn-close {
  position: absolute;
  top: 15%;
  left: 2%; }

/*Experiencia*/
.slider {
  width: 80%;
  margin: 2rem auto; }
  .slider .slick-slide {
    margin: 0px 10px; }
  .slider .slick-slide img {
    width: 100%; }
  .slider .slick-prev:before,
  .slider .slick-next:before {
    color: black; }
  .slider .precio {
    text-align: left !important;
    color: #484848;
    font-size: 0.9em; }

.xtra-small {
  font-size: 1.3em; }

.color-green {
  color: #008489; }

.color-gris {
  color: #767676; }

.cnt-general-starts {
  display: inline-block;
  float: left;
  overflow: auto; }

.cnt-starts span {
  position: absolute;
  top: 90%;
  left: 39.5%; }

/*Secci├│n Ser Anfitri├│n*/
#be-host .l5 {
  float: left; }
  #be-host .l5 b {
    font-size: 2em;
    line-height: 1.3em; }
  #be-host .l5 p {
    font-size: 1.2em; }
#be-host img {
  width: 90%;
  float: right; }
#be-host button {
  border-radius: 20px;
  font-weight: bold;
  text-transform: inherit; }

.housing {
  width: 80%;
  margin: 2.5rem auto; }
  .housing .slick-slide {
    margin: 0px 10px; }
  .housing .slick-slide img {
    width: 100%; }
  .housing .slick-prev:before,
  .housing .slick-next:before {
    color: black; }
  .housing .precio {
    text-align: left !important;
    color: #484848;
    font-size: 0.9em; }

.countries {
  width: 80%;
  margin: 2.5rem auto; }
  .countries .slick-slide {
    margin: 0px 10px; }
  .countries .slick-slide img {
    width: 100%; }
  .countries .slick-prev:before,
  .countries .slick-next:before {
    color: black; }
  .countries .precio {
    text-align: left !important;
    color: #484848;
    font-size: 0.9em; }

.solidary {
  width: 80%;
  margin: 2.5rem auto; }
  .solidary .slick-slide {
    margin: 0px 10px; }
  .solidary .slick-slide img {
    width: 100%; }
  .solidary .slick-prev:before,
  .solidary .slick-next:before {
    color: black; }
  .solidary .precio {
    text-align: left !important;
    color: #484848;
    font-size: 0.9em; }

/*Footer*/
footer {
  font-size: 14px; }
  footer .browser-default {
    margin-top: 28px;
    font-weight: bold;
    border: 1px solid #dbdbdb; }
  footer h5 {
    font-size: 16px;
    font-weight: bold; }

@media (max-width: 468px) {
  header .title .header-title {
    padding-top: 0.5em;
    text-align: center;
    margin-bottom: 0.3em; }
  header h3 {
    font-size: 1.7em; }
  header .hero {
    height: 100vh;
    background-size: cover; }
  header .modal {
    width: 70vw; }

  footer .browser-default {
    margin-left: 15px;
    margin-top: 3px; }
  footer .s12 {
    margin-top: 9px; } }

/*# sourceMappingURL=main.css.map */
