@import "_variables";

body{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html, body{
    height: 100%;
}
/*header*/
header{
    height: auto;
}
nav{
    background-color: $color-white;
}
.navbar-search{
    width: 55rem;
    margin-left: 4em;
    box-shadow: 0 2px 2px  0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 0 0 0 rgba(0, 0, 0, 0), 0 3px 1px -2px rgba(0, 0, 0, 0.2) !important;
}
.nav-wrapper{
    ul{
        li{
            a{
                color: $color-gray-tittle;
            }
        }
    }
}  

nav{
    .input-field{
        label{
            i{
                color: $color-gray-tittle;
            }
        }
    }
} 

.logo{
    margin-left: 0.6rem;
    margin-top: 0.4rem;
    margin-right: 0.6rem;
}
/*map*/
#map{
    height: 100vh;
}